.sc-ion-input-md-h {
    --highlight-color: #9C93B5;
    
}

.list-tarefas {
    list-style: none;
    padding: 0;
}

.list-tarefas li {
    margin-bottom: 30px;
}

.list-tarefas li a {
    text-decoration: none;
    color: black;
}

#teste {
    min-height: 85vh;
}

.container-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList {
    width: 100%;
    max-width: 700px;
}

.todoList header {
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    font-size: 1.3em;
    color:#9C93B5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 15px;
}

.todoList .frase {
    text-align: center;
    color: #9C93B5;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todoList .avatar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.tolbar-task{
    display: flex;
}

.tolbar-task a {
    cursor: pointer;
    text-decoration: none;
    color: #9C93B5;
}