.list-tarefas {
    list-style: none;
    padding: 0;
}

.list-tarefas li {
    margin-bottom: 30px;
}

.list-tarefas li a {
    text-decoration: none;
    color: black;
}

.container-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList {
    width: 100%;
    max-width: 700px;
}

.todoList header {
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    font-size: 1.3em;
    color: rgb(94, 94, 94);
}