.titulo-pag h2{
    margin: 50px 0 50px 0;
    text-align: center;
    color: #9C93B5;
    font-size: 40px;
    font-weight: bold;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 70px 0 70px 0;
    
}

@media (max-width: 700px) {
    .container-cards {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    }
}