@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Amarante', cursive;
}

.container .box {
  width: 50%;
  min-height: 115vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #9C93B5;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.container .box .logo img {
  width: 200px;
}

.container .box .logo {
  text-align: center;
  color: #ffff;
}

.container .box .logo h1 {
  font-size: 35px;
}

.container .content {
  width: 55%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content h1 {
  color: #9C93B5;
  font-size: 35px;
  font-weight:700;
  text-align: center;
  margin-bottom: 30px;
}


.container .content .forms {
  width: 55%;
}

.container .content .forms a {
  color: #3307d1;
}

@media (max-width: 600px) {
  .container .box {
    display: none;
  }
  .container .content {
    width: 100%;
  }
}

