header.tituloMenu {
    border-bottom: 1px solid;
    font-size: 2em;
}

.data-tarefas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #9C93B5;
    margin-top: 30px;
}

.data-tarefas h2 {
    color: #9C93B5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}