.check-list ul.list {
   list-style: none;
   margin: 0;
   padding: 0; 
}

.check-list ul.list li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #231F20;
}

.check-list ul.list li:hover {
    background-color: #f1edfd;
    transition: 300ms ease;
}

.check-list ul.list li:hover button.remove {
    opacity: 1;
}

.check-list ul.list li:hover button.pincel {
    opacity: 1;
}

.check-list ul.list .check {
    margin-right: 20px;
}

.check-list button.remove {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
}

.check-list button.pincel {
    position: absolute;
    top: 10px;
    right: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease;
}

.check-list button.pincel::before {
    display: block;
}

.check-list button.remove::after {
    display: block;
}

.data-task {
    margin-left: 10%;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #f1edfd;
    border-radius: 6px;
    font-family: emoji;
}

#marcado {
    text-decoration: line-through;
}

#nada {
    text-decoration: none;
}